body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url(/img/Work-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bar-container {
  width: 500px;
  height: 40px;
  border: 5px solid white;
  overflow: hidden;
  background: #333;
}

.bar {
  height: 100%;
  background: rgb(255, 208, 0);
}
